/* ============================================================

320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

============================================================ */
/* Reset =================================================== */
/* line 12, ../scss/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 15, ../scss/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../scss/_reset.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  /*unnecessary in new webkit browsers */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Variables =================================================== */
/* Mixins =================================================== */
/* line 115, ../scss/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 108, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 111, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* Page =================================================== */
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 29, ../scss/_site.scss */
html {
  background: white;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 38, ../scss/_site.scss */
body {
  margin: 0;
  padding: 48px 0;
  width: 100%;
  background-color: transparent;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", sans-serif;
  color: black;
  background-color: #06a9c5;
  background-position: top left;
  background-image: url('/i/bg.png?1362345429');
  background-repeat: repeat;
  background-attachment: fixed;
}

/* line 2, ../scss/_layout.scss */
.wrap {
  padding: 32px;
  background: white;
  margin: 0;
  position: relative;
}
/* line 8, ../scss/_layout.scss */
.wrap .header {
  border-bottom: 4px solid black;
}
/* line 12, ../scss/_layout.scss */
.wrap .header h1 .small {
  display: block;
}
/* line 19, ../scss/_layout.scss */
.wrap .sticky-wrapper {
  position: absolute;
  top: 0;
  margin-top: 0;
  right: 0;
  z-index: 10;
}
/* line 27, ../scss/_layout.scss */
.wrap .sticky-wrapper .nav__item a {
  display: block;
}
/* line 33, ../scss/_layout.scss */
.wrap .nav {
  position: static;
  margin: 0;
}
/* line 41, ../scss/_layout.scss */
.wrap .nav__list {
  list-style: none;
}
/* line 45, ../scss/_layout.scss */
.wrap .nav__item a {
  padding: 12px 24px;
  background: #a62820;
  color: white;
  text-decoration: none;
  line-height: 1;
  border-bottom: none;
}
/* line 56, ../scss/_layout.scss */
.wrap .content {
  padding: 24px 0;
}

/* line 66, ../scss/_layout.scss */
.projects {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 71, ../scss/_layout.scss */
.projects .projects__item {
  background: transparent;
  position: relative;
  display: block;
  padding: 12px 6px;
}
/* line 79, ../scss/_layout.scss */
.projects .projects__item:hover, .projects .projects__item:focus {
  background: white url('/i/pattern.png?1379512586') center center repeat;
}
/* line 83, ../scss/_layout.scss */
.projects .projects__item .thumb {
  display: block;
  padding-bottom: 6px;
  border-bottom: none;
  color: black;
  position: relative;
}
/* line 91, ../scss/_layout.scss */
.projects .projects__item .thumb img {
  margin-bottom: 4px;
}
/* line 96, ../scss/_layout.scss */
.projects .projects__item .thumb:hover {
  color: black;
}

/* line 104, ../scss/_layout.scss */
.collaborations {
  list-style: none;
}
/* line 107, ../scss/_layout.scss */
.collaborations .collaborations__item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 112, ../scss/_layout.scss */
.collaborations .collaborations__item .collaborations__link {
  text-indent: -9878px;
  display: block;
  background-image: url('/i/logo-sprite.png?1379511942');
  background-repeat: no-repeat;
  height: 50px;
  margin: 0 36px 24px 0;
  border-bottom: none;
}
/* line 121, ../scss/_layout.scss */
.collaborations .collaborations__item .upstream {
  background-position: -555px -60px;
  width: 194px;
}
/* line 125, ../scss/_layout.scss */
.collaborations .collaborations__item .upstream:hover {
  background-position: -555px 0;
}
/* line 129, ../scss/_layout.scss */
.collaborations .collaborations__item .intaxi {
  background-position: 0 -61px;
  width: 156px;
}
/* line 133, ../scss/_layout.scss */
.collaborations .collaborations__item .intaxi:hover {
  background-position: 0 0;
}
/* line 137, ../scss/_layout.scss */
.collaborations .collaborations__item .kidsters {
  background-position: -165px -60px;
  width: 169px;
}
/* line 141, ../scss/_layout.scss */
.collaborations .collaborations__item .kidsters:hover {
  background-position: -165px 0;
}
/* line 145, ../scss/_layout.scss */
.collaborations .collaborations__item .centrida {
  background-position: -345px -62px;
  width: 200px;
}
/* line 149, ../scss/_layout.scss */
.collaborations .collaborations__item .centrida:hover {
  background-position: -346px 0;
}

/* line 159, ../scss/_layout.scss */
.cv dl dt {
  margin-top: 1em;
}
/* line 162, ../scss/_layout.scss */
.cv dl dd {
  margin-bottom: 0;
}
/* line 168, ../scss/_layout.scss */
.cv .experience .period,
.cv .experience .description {
  color: #404040;
}
/* line 173, ../scss/_layout.scss */
.cv .lang ul {
  list-style: none;
}

/* Typography =================================================== */
/* line 61, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.77778em;
}

/* line 13, ../scss/_typography.scss */
body {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", sans-serif;
  text-transform: none;
}

/* line 18, ../scss/_typography.scss */
a {
  text-decoration: none;
  border-bottom: 1px solid;
}
/* line 22, ../scss/_typography.scss */
a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}

/* line 30, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "PT Serif", Georgia, Times, "Times New Roman";
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 39, ../scss/_typography.scss */
h1 .small,
h2 .small {
  font-weight: normal;
  color: #bfbfbf;
}

/* line 47, ../scss/_typography.scss */
.header h1,
.header .h1 {
  font-size: 3.44444em;
  line-height: 1.29032em;
  margin: 0 auto 0em;
}
/* line 51, ../scss/_typography.scss */
.header h1 .small {
  font-size: 0.51613em;
  line-height: 1.25em;
  margin: 0 auto 1em 0em;
}

/* line 60, ../scss/_typography.scss */
.aside h1,
.aside .h1 {
  font-size: 1.77778em;
  line-height: 2em;
  margin: 0 auto 0em;
}

/* line 65, ../scss/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.77778em;
}

/* line 71, ../scss/_typography.scss */
h2,
.h2 {
  font-size: 1.77778em;
  line-height: 2em;
}

/* line 76, ../scss/_typography.scss */
.projects h2,
.projects .h2 {
  font-size: 1.33333em;
  line-height: 1.33333em;
}

/* line 82, ../scss/_typography.scss */
h3,
.h3 {
  font-size: 1.33333em;
  line-height: 1.33333em;
}

/* line 100, ../scss/_typography.scss */
h6,
.h6 {
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 110, ../scss/_typography.scss */
.cv .period,
.cv .description,
.cv .company {
  font-size: 0.88889em;
  line-height: 1.78em;
}

/* line 122, ../scss/_typography.scss */
.header h1 a,
.header h2 a,
.header h3 a {
  display: block;
  position: relative;
  top: 6px;
  float: right;
  padding: 4px 12px;
  background-color: #f3f5f6;
}

/* line 139, ../scss/_typography.scss */
.projects h2 {
  margin-bottom: 0;
}

/* line 147, ../scss/_typography.scss */
.header .a-rss,
.header .a-rss:hover {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent url(../img/a-rss.png) no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 162, ../scss/_typography.scss */
p,
ol,
ul,
dl,
address {
  margin-bottom: 32px;
  line-height: 32px;
}

/* line 169, ../scss/_typography.scss */
.cv .aside p {
  margin-bottom: 16px;
}

/* line 176, ../scss/_typography.scss */
.scope,
small {
  font-size: 0.88889em;
  line-height: 1.5em;
}

/* line 181, ../scss/_typography.scss */
.scope {
  margin-bottom: 0;
}

/* line 186, ../scss/_typography.scss */
ul,
ol {
  margin: 0 0 32px -24px;
  padding: 0 0 0 24px;
}

/* line 192, ../scss/_typography.scss */
li ul,
li ol {
  margin: 0;
  /*@include font-size(16); */
}

/* line 199, ../scss/_typography.scss */
blockquote {
  margin: 0 0 32px -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal;
}

/* line 206, ../scss/_typography.scss */
q {
  quotes: none;
}

/* line 212, ../scss/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 216, ../scss/_typography.scss */
cite {
  font-style: normal;
}

/* line 222, ../scss/_typography.scss */
dl,
dd {
  margin-bottom: 32px;
}

/* line 225, ../scss/_typography.scss */
dt {
  font-weight: bold;
}

/* line 230, ../scss/_typography.scss */
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
/* line 236, ../scss/_typography.scss */
.dl-horizontal dd {
  margin-left: 22.78%;
}

/* line 242, ../scss/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help;
}

/* line 246, ../scss/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 249, ../scss/_typography.scss */
dfn {
  font-style: italic;
}

/* line 252, ../scss/_typography.scss */
ins {
  background-color: #f3f5f6;
  color: black;
  text-decoration: none;
}

/* line 257, ../scss/_typography.scss */
mark {
  background-color: #f3f5f6;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 266, ../scss/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  line-height: 32px;
}

/* line 271, ../scss/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 277, ../scss/_typography.scss */
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baselineheight;
}

/* line 283, ../scss/_typography.scss */
sup {
  top: -0.5em;
}

/* line 286, ../scss/_typography.scss */
sub {
  bottom: -0.25em;
}

/* Colour =================================================== */
/* line 16, ../scss/_colour.scss */
a {
  text-decoration: none;
  color: #404040;
}
/* line 20, ../scss/_colour.scss */
a:visited {
  color: #404040;
}
/* line 23, ../scss/_colour.scss */
a:hover {
  color: #0d0d0d;
}
/* line 27, ../scss/_colour.scss */
a:focus {
  outline: thin dotted;
  color: #262626;
}
/* line 32, ../scss/_colour.scss */
a:hover, a:active {
  outline: 0;
}

/* line 36, ../scss/_colour.scss */
::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 41, ../scss/_colour.scss */
::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 48, ../scss/_colour.scss */
.swatch {
  margin: 0 0 32px 0;
  padding: 0;
}

/* line 52, ../scss/_colour.scss */
.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
}

/* line 58, ../scss/_colour.scss */
.swatch-row-one {
  background-color: black;
}

/* line 61, ../scss/_colour.scss */
.swatch-row-two {
  background-color: white;
}

/* line 64, ../scss/_colour.scss */
.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}

/* line 72, ../scss/_colour.scss */
.swatch-base span:nth-child(1) {
  background-color: rgba(45, 53, 62, 0.9);
}

/* line 75, ../scss/_colour.scss */
.swatch-base span:nth-child(2) {
  background-color: rgba(45, 53, 62, 0.8);
}

/* line 78, ../scss/_colour.scss */
.swatch-base span:nth-child(3) {
  background-color: rgba(45, 53, 62, 0.7);
}

/* line 81, ../scss/_colour.scss */
.swatch-base span:nth-child(4) {
  background-color: rgba(45, 53, 62, 0.6);
}

/* line 86, ../scss/_colour.scss */
.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9);
}

/* line 89, ../scss/_colour.scss */
.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8);
}

/* line 92, ../scss/_colour.scss */
.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7);
}

/* line 95, ../scss/_colour.scss */
.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6);
}

/* line 100, ../scss/_colour.scss */
.swatch-error span:nth-child(1) {
  background-color: rgba(218, 79, 73, 0.9);
}

/* line 103, ../scss/_colour.scss */
.swatch-error span:nth-child(2) {
  background-color: rgba(218, 79, 73, 0.8);
}

/* line 106, ../scss/_colour.scss */
.swatch-error span:nth-child(3) {
  background-color: rgba(218, 79, 73, 0.7);
}

/* line 109, ../scss/_colour.scss */
.swatch-error span:nth-child(4) {
  background-color: rgba(218, 79, 73, 0.6);
}

/* line 114, ../scss/_colour.scss */
.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9);
}

/* line 117, ../scss/_colour.scss */
.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8);
}

/* line 120, ../scss/_colour.scss */
.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7);
}

/* line 123, ../scss/_colour.scss */
.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6);
}

/* line 128, ../scss/_colour.scss */
.swatch-success span:nth-child(1) {
  background-color: rgba(91, 183, 91, 0.9);
}

/* line 131, ../scss/_colour.scss */
.swatch-success span:nth-child(2) {
  background-color: rgba(91, 183, 91, 0.8);
}

/* line 134, ../scss/_colour.scss */
.swatch-success span:nth-child(3) {
  background-color: rgba(91, 183, 91, 0.7);
}

/* line 137, ../scss/_colour.scss */
.swatch-success span:nth-child(4) {
  background-color: rgba(91, 183, 91, 0.6);
}

/* line 142, ../scss/_colour.scss */
.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 50, 0.9);
}

/* line 145, ../scss/_colour.scss */
.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 50, 0.8);
}

/* line 148, ../scss/_colour.scss */
.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 50, 0.7);
}

/* line 151, ../scss/_colour.scss */
.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 50, 0.6);
}

/* Elements =================================================== */
/* line 14, ../scss/_elements.scss */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid white;
}

/* line 25, ../scss/_elements.scss */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 31, ../scss/_elements.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 36, ../scss/_elements.scss */
figure {
  margin-bottom: 32px;
}
/* line 39, ../scss/_elements.scss */
figure img {
  margin-bottom: 8px;
}
/* line 42, ../scss/_elements.scss */
figure figcaption {
  display: block;
  font-weight: normal;
  color: gray;
}

/* line 50, ../scss/_elements.scss */
dl dt {
  font-weight: normal;
}

/* line 57, ../scss/_elements.scss */
.list-bordered {
  list-style-type: none;
  margin: 0 0 32px 0;
  padding: 0;
}
/* line 62, ../scss/_elements.scss */
.list-bordered li {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #c7ced6;
}
/* line 67, ../scss/_elements.scss */
.list-bordered li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}

/* line 75, ../scss/_elements.scss */
.list__inline li {
  display: inline-block;
  margin-right: 0.6em;
}

/* line 2, ../scss/_icons.scss */
.icon-flickr {
  position: relative;
  margin-left: 23px;
  *display: inline;
  zoom: 1;
}
/* line 69, ../scss/_mixins.scss */
.icon-flickr:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: -25px;
  background: transparent 0 0 url('/i/icons.png?1385727758') no-repeat;
}
/* line 82, ../scss/_mixins.scss */
.icon-flickr:hover:before {
  background-position: 0 -25px;
}

/* line 6, ../scss/_icons.scss */
.icon-twitter {
  position: relative;
  margin-left: 23px;
  *display: inline;
  zoom: 1;
}
/* line 69, ../scss/_mixins.scss */
.icon-twitter:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: -25px;
  background: transparent -25px 0 url('/i/icons.png?1385727758') no-repeat;
}
/* line 82, ../scss/_mixins.scss */
.icon-twitter:hover:before {
  background-position: -25px -25px;
}

/* line 10, ../scss/_icons.scss */
.icon-location {
  position: relative;
  margin-left: 23px;
  *display: inline;
  zoom: 1;
}
/* line 69, ../scss/_mixins.scss */
.icon-location:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: -25px;
  background: transparent -50px 0 url('/i/icons.png?1385727758') no-repeat;
}
/* line 82, ../scss/_mixins.scss */
.icon-location:hover:before {
  background-position: -50px -25px;
}
/* line 14, ../scss/_icons.scss */
.icon-location:hover:before {
  background-position: -55px 0;
}

/* line 20, ../scss/_icons.scss */
.icon-github {
  position: relative;
  margin-left: 23px;
  *display: inline;
  zoom: 1;
}
/* line 69, ../scss/_mixins.scss */
.icon-github:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: -25px;
  background: transparent -73px 0 url('/i/icons.png?1385727758') no-repeat;
}
/* line 82, ../scss/_mixins.scss */
.icon-github:hover:before {
  background-position: -73px -25px;
}

/* line 25, ../scss/_icons.scss */
.icon-bitbucket {
  position: relative;
  margin-left: 23px;
  *display: inline;
  zoom: 1;
}
/* line 69, ../scss/_mixins.scss */
.icon-bitbucket:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: -25px;
  background: transparent -100px 0 url('/i/icons.png?1385727758') no-repeat;
}
/* line 82, ../scss/_mixins.scss */
.icon-bitbucket:hover:before {
  background-position: -100px -25px;
}

/* line 29, ../scss/_icons.scss */
.icon-linkedin {
  position: relative;
  margin-left: 23px;
  *display: inline;
  zoom: 1;
}
/* line 69, ../scss/_mixins.scss */
.icon-linkedin:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: -25px;
  background: transparent -130px 0 url('/i/icons.png?1385727758') no-repeat;
}
/* line 82, ../scss/_mixins.scss */
.icon-linkedin:hover:before {
  background-position: -130px -25px;
}

/* line 33, ../scss/_icons.scss */
.icon-moikrug {
  position: relative;
  margin-left: 23px;
  *display: inline;
  zoom: 1;
}
/* line 69, ../scss/_mixins.scss */
.icon-moikrug:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: -25px;
  background: transparent -155px 0 url('/i/icons.png?1385727758') no-repeat;
}
/* line 82, ../scss/_mixins.scss */
.icon-moikrug:hover:before {
  background-position: -155px -25px;
}

@media print {
  /* Print =================================================== */
  /* line 14, ../scss/print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 27, ../scss/print.scss */
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }

  /* line 32, ../scss/print.scss */
  p {
    orphans: 3;
    widows: 3;
  }

  /* line 36, ../scss/print.scss */
  pre, blockquote {
    border: 1px solid gray;
    page-break-inside: avoid;
  }

  /* line 40, ../scss/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 45, ../scss/print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 48, ../scss/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 52, ../scss/print.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 57, ../scss/print.scss */
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }

  /* line 61, ../scss/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 64, ../scss/print.scss */
  tr {
    page-break-inside: avoid;
  }
}
@media only screen and (min-width: 30em) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  /* line 19, ../scss/_600.scss */
  .wrap {
    margin: 0 4%;
  }
  /* line 22, ../scss/_600.scss */
  .wrap .sticky-wrapper {
    position: absolute;
    right: 32px;
    margin-top: 0;
  }

  /* line 29, ../scss/_600.scss */
  .projects {
    list-style: none;
  }
  /* line 32, ../scss/_600.scss */
  .projects .projects__item {
    width: 46%;
    margin: 0 2.9% 32px 0;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  /* line 23, ../scss/_768.scss */
  .wrap {
    max-width: 100%;
  }
  /* line 30, ../scss/_768.scss */
  .wrap .entry .text {
    float: left;
    width: 64%;
  }
  /* line 34, ../scss/_768.scss */
  .wrap .entry .aside {
    float: right;
    width: 32%;
  }

  /* line 41, ../scss/_768.scss */
  .projects {
    list-style: none;
  }
  /* line 44, ../scss/_768.scss */
  .projects .projects__item {
    width: 31%;
    margin: 0 1.9% 32px 0;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }

  /* line 60, ../scss/_768.scss */
  .cv .aside {
    float: right;
    margin-left: 4%;
    margin-bottom: 30px;
    padding-top: 16px;
  }
  /* line 67, ../scss/_768.scss */
  .cv .goal,
  .cv .spec {
    overflow: auto;
  }
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
  /* line 18, ../scss/_992.scss */
  .wrap {
    max-width: 82%;
  }
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  /* line 14, ../scss/_1382.scss */
  .wrap {
    max-width: 70%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
}
