
.wrap {
	padding: $baselineheight;
	background: $white;
	margin: 0;
	position: relative;

	.header {
		border-bottom: $base-line-height / 6 solid $black;

		h1 {
			.small {
				display: block;
			}
		}
	}


	.sticky-wrapper {
		position: absolute;
		top: 0;
		margin-top: 0;
		right: 0;


		.nav__item {
			a {
				display:block;

			}
		}
	}
	.nav {
		position: static;
		margin: 0;
	}




		.nav__list {
			list-style: none;
		}
		.nav__item {
			a {
				padding: $base-line-height / 2 $base-line-height;
				background: $red;
				color: $white;
				text-decoration: none;
				line-height: 1;
			}
		}
	

	.content {
		padding: $base-line-height 0;
	}
	.entry {
		
	}
}


.icon-flickr {
	@include icon-left(0, 0);
}

.icon-twitter {
	@include icon-left(-25px, 0);
}

.icon-location {
	@include icon-left(-55px, 0);
	padding-left: 22px;

	&:hover {
		&:before {
			background-position: -55px 0;
		}
	}
}

.projects {
	list-style: none;
	margin: 0;
	padding: 0;

	.projects__item {
		background: transparent;

		&:hover,
		&:focus {
			background: $greyLighter;
			//color: $white;
		}

		.thumb {
			display: block;
			padding-bottom: $base-line-height / 4;
			padding-top: $base-line-height / 2;

			img {
				margin-bottom: $base-line-height / 6;
			}
			//border-bottom: $base-line-height / 6 solid transparent;
			

			&:hover {
				//border-bottom: $base-line-height / 6 solid $highlight;

			}
		}
	}
}

.collaborations {
	list-style: none;

	.collaborations__item {
		display: inline-block;
		*display: inline;
		zoom: 1;

		.collaborations__link {
			text-indent: -9878px;
			display: block;
			background-image: image-url("logo-sprite.png");
			background-repeat: no-repeat;
			height: 50px;
			margin: 0 10px 10px 0;
		}
		.intaxi {
			background-position: 0 0;
			width:190px;

			&:hover {
				background-position: 0 -60px;
			}
		}
		.intaxi {
			background-position: 0 0;
			width:190px;

			&:hover {
				background-position: 0 -60px;
			}
		}
		.kidsters {
			background-position: -200px 0;
			width:210px;

			&:hover {
				background-position: -200px -60px;
			}
		}
		.centrida {
			background-position: -420px 0;
			width:200px;

			&:hover {
				background-position: -420px -60px;
			}
		}
	}
}

.cv {

	dl {
		dt {
			margin-top: 1em;
		}
		dd {
			margin-bottom: 0;
		}
	}
	.experience {
		.period,
		.description {
			color: $greyDark;
		}
	}
	.lang {
		ul {
			list-style: none;
		}
	}
}