
.wrap {
	padding: $baselineheight;
	background: $white;
	margin: 0 $baselineheight * 2;

	.header {
		border-bottom: $baselineheight / 6 solid $black;

		h1 {
			margin-bottom: $baselineheight / 4;
			.small {
				display: block;
				margin: $baselineheight / 6 0;
			}
		}
	}


	.entry {
		margin: $baselineheight 0;
	}
}


.icon-flickr {
	@include icon-left(0, 0);
}

.icon-twitter {
	@include icon-left(-25px, 0);
}

.projects {
	list-style: none;
	margin: 0;
	padding: 0;

	.projects__item {
		margin: 0 0 1em;
		.thumb {
			display: block;
		}
	}
}