
.wrap {
	padding: $baselineheight*1.5;
	background: $white;
	
	position: relative;
	margin: 0;

	.header {
		border-bottom: $base-line-height / 6 solid $black;

		h1 {
			.small {
				display: block;
			}
		}
	}


	.sticky-wrapper {
		position: absolute;
		margin-top: 0;
		right: 0;
		top: -$base-line-height;
		z-index: 10;	

		> .nav {
			position: static;
			margin: 0;
		}
	}

	.nav {
		//position: static;
		margin: 0;
		position: absolute;
		top: 0;
	}

	.nav__list {
		list-style: none;
	}
	.nav__item {
		float: left;
		a {
			display: block;
			padding: $base-line-height * 0.65 $base-line-height;
			background: $red;
			color: $white;
			text-decoration: none;
			line-height: 1;
			border-bottom: none;

			&:hover {
				background: darken($red, 4%);
			}
		}
		.active {
			/*background: green;*/
		}
	}
	

	.content {
		padding: $base-line-height 0;
	}
	.entry {
		
	}
}



.projects {
	list-style: none;
	margin: 0;
	padding: 0;

	.projects__item {
		background: transparent;
		//padding: $base-line-height * 0.25;
		position: relative;
		display: block;
		padding: $base-line-height / 2 $base-line-height / 4;

		&:hover,
		&:focus {
			background: $white image-url("pattern.png") center center repeat;
		}

		.thumb {
			display: block;
			padding-bottom: $base-line-height / 4;
			
			border-bottom: none;
			color: $textcolor;
			position: relative; 

			img {
				margin-bottom: $base-line-height / 6;
			}
			//border-bottom: $base-line-height / 6 solid transparent;

			&:hover {
				color: $textcolor;
			}
		}

	}
}

.collaborations {
	list-style: none;

	.collaborations__item {
		display: inline-block;
		margin-right: 30px;

		.collaborations__link {
			text-indent: -9878px;
			display: block;
			margin: 0 auto $base-line-height;
			background-image: image-url("logo-sprite.png");
			background-repeat: no-repeat;
			height: 50px;
			//margin: 0 $base-line-height * 1.5 $base-line-height 0;
			border-bottom: none;
		}
		
		.soundcloud {
			background-position: -762px -60px;
			width:158px;

			&:hover {
				background-position: -762px 0;
			}
		}

		.careerfoundry {
			background-position: -1020px -60px;
			width:150px;

			&:hover {
				background-position: -1020px 0;
			}
		}
		.neq4 {
			background-position: -930px -60px;
			width:75px;

			&:hover {
				background-position: -930px 0;
			}
		}
		.upstream {
			background-position: -555px -60px;
			width:194px;

			&:hover {
				background-position: -555px 0;
			}
		}
		.intaxi {
			background-position: 0 -61px;
			width:156px;

			&:hover {
				background-position: 0 0;
			}
		}
		.kidsters {
			background-position: -165px -60px;
			width:169px;

			&:hover {
				background-position: -165px 0;
			}
		}
		.centrida {
			background-position: -345px -62px;
			width:200px;

			&:hover {
				background-position: -346px 0;
			}
		}
	}
}

.cv {

	dl {
		dt {
			margin-top: 1em;
		}
		dd {
			margin-bottom: 0;
		}
	}
	.experience {
		.period,
		.description {
			color: $greyDark;
		}
	}
	.lang {
		ul {
			list-style: none;
		}
	}
	.description {
		ul {
			margin-left: 0;
		}
	}
}

.project {
	background: $greyLight;
	background-image: image-url("bg-bw.png");

	.wrap .nav__item a {
		background: $grey;
		background: rgba($grey, 0.5);

		&:hover {
			//background: $greyLight;
		}
	}
	.wrap .sticky-wrapper > .nav {
		overflow: hidden;
	}

	.nav__list .nav__item {
		float: left;
	}
}