// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Page =================================================== */

// 1. ROOT 					==============================

@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }

html {
	background : $bodycolor;
	//font-size : 62.5%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

body {
	margin : 0;
	padding : $base-line-height * 2 0;
	width : 100%;
	background-color : transparent;
	font-family : $basefont;
//	@include font-size();
	//line-height : $base-line-height;
	color : $textcolor; 
	background-color: $highlight;
	background-position: top left;
	background-image: image-url("bg.png");
	background-repeat: repeat;
	background-attachment:fixed;
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================