// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Page =================================================== */

// 1. ROOT 					==============================

@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }

html {
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

body {
	margin : 0;
	width : 100%;
	background: transparent;
	font-family : $basefont;
}

a {
	text-decoration: underline;
	color: #0fbb27;
}

::-moz-selection {
	background-color : lighten($basecolor, 65%);
	color : $basecolor;
	text-shadow : none; 
}

::selection {
	background-color : lighten($basecolor, 65%);
	color : $basecolor;
	text-shadow : none; 
}

