

/* Typography =================================================== */



@import "compass/typography/vertical_rhythm";
 
$base-font-size: 18px;
$base-line-height: 32px;
@include establish-baseline;

body {
	font-family: $basefont;
	text-transform: none;
}



// HEADINGS ====================================================

#{headings()} {
  margin : 0;
  font-family : $headlineFont;
  font-weight : $baseheadingfontweight;
  color : $baseheadingfontcolor;
  text-rendering : optimizelegibility; 
}

h1 .small,
h2 .small {
  font-weight : normal;
  color : $greyLight; 
}


.header {
  h1,
  .h1 {
    @include adjust-font-size-to(62px, 5/2);
    margin: 0 auto rhythm(0, 62px);
  }
  h1 .small {
    @include adjust-font-size-to(32px, 5/4, 62px);
     margin: 0 auto 1em rhythm(0, 62px);
  }
}


.aside {
  h1,
  .h1 {
    @include adjust-font-size-to(32px);
    margin: 0 auto rhythm(0, 32px);
  }
}
h1 {
  @include adjust-font-size-to(36px);
}
h2,
.h2 {
  @include adjust-font-size-to(32px);
}

h3,
.h3 {
  @include adjust-font-size-to(24px);
}

h4,
.h4 {
 // margin-bottom : $base-line-height;
  //@include font-size(18);
  //line-height : 1.25; 
}

h5,
.h5 {
  //@include font-size(16);
 // margin-bottom : $base-line-height; 
}

h6,
.h6 {
  //margin-bottom : $base-line-height;
  //@include font-size(14);
  font-weight : normal;
  letter-spacing : 1px;
  text-transform : uppercase; 
}
.cv {
    .period,
    .description,
    .company {
      @include adjust-font-size-to(16px, .89);
    }
}

// header

.header h1,
.header h2,
.header h3 {
  //@include font-size(56);

  a {
    display : block;
    position : relative;
    top : 6px;
    float : right;
    padding : 4px 12px;
//    @include font-size(14);
    background-color : lighten($basecolor, 75%); 
  }
}

.header h1 {
  .small {
//    @include font-size(32);
  }
}

.projects h2 {
//  @include font-size(21);
  margin-bottom: 0;
}



.header .a-rss,
.header .a-rss:hover {
  float : left;
  width : 16px;
  height : 16px;
  padding : 0;
  background : transparent url(../img/a-rss.png) no-repeat 0 0;
  @include hide-text; 
}

// TYPOGRAPHY ====================================================

p,
ol,
ul,
dl,
address {
  margin-bottom : $base-line-height;
 // @include font-size($basefontsize);
  line-height : $base-line-height; 
}
.cv {
  .aside {
    p {
      margin-bottom : $base-line-height / 2;
    }
  }
}

.scope,
small {
  //@include adjust-font-size-to(16px);
  @include adjust-font-size-to(16px, 3/4);
  
}
.scope {
  margin-bottom: 0;
}

ul,
ol {
  margin : 0 0 $base-line-height #{-$gutterwidth};
  padding : 0 0 0 $gutterwidth; 
}

li ul,
li ol {
margin : 0;
/*@include font-size(16); */
}

// blockquote

blockquote  {
margin : 0 0 $base-line-height #{-$gutterwidth};
padding-left : $gutterwidth;
border-left : 2px solid $bordercolor;
font-family : $altfont;
font-style : normal; }

q {
quotes : none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
content : '';
content : none; }

cite {
font-style : normal; }

// definition lists

dl,
dd {
margin-bottom : $base-line-height;  }

dt {
font-weight : bold; }

.dl-horizontal {

dt {
float : left;
clear : left;
width : 20.25%;
text-align : right; }

dd {
margin-left : 22.78%; }
}

// text-level

abbr[title] {
border-bottom : 1px dotted $bordercolor;
cursor : help; }

b, strong {
font-weight : bold; }

dfn {
font-style : italic; }

ins {
background-color : lighten($basecolor, 75%);
color : $textcolor;
text-decoration : none; }

mark {
background-color : lighten($basecolor, 75%);
color : $textcolor;
font-style : italic;
font-weight : bold; }

pre,
code,
kbd,
samp {
font-family : $codefont;
//@include font-size(14);
line-height : $base-line-height; }

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word; }

sub,
sup {
position : relative;
//@include font-size(12);
line-height : 0;
vertical-align : baselineheight; }

sup {
top : -0.5em; }

sub {
bottom : -0.25em; }