// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Variables =================================================== */

// greyscale

$black 			: rgb(0,0,0);
$greyDark 	: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$greyLight 	: lighten($black, 75%);
$greyLighter: lighten($black, 90%);
$white 			: rgb(255,255,255);



// 1. ROOT 					==============================

$bodycolor : $white;
$textcolor : $black;

// 2. TYPOGRAPHY 			==============================

$basefont :  "PT Serif", Georgia, Times, "Times New Roman", sans-serif;
$basefontsize : 18px;
$baselineheight : 32px;
$baseheadingfont : inherit;
$baseheadingfontweight : normal;
$baseheadingfontcolor : inherit;

$altfont : Cambria, Georgia, Times, "Times New Roman";
$altlineheight : 1.35em;

$headlineFont : "PT Serif", Georgia, Times, "Times New Roman";

$codefont : Monaco, Courier New, monospace;

// 3. COLOUR 				==============================

$basecolor 		: rgb(45,53,62);
$compcolor 		: adjust-hue($basecolor, 180);
$bordercolor  : lighten($basecolor, 60%);
$highlight		: #06a9c5;
$red					: #a62820;

// Links

$linkcolor 		    : rgb(1,53,104);
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);

// colour palettes

$alertcolor 	: rgb(252,248,227);
$errorcolor 	: rgb(218,79,73);
$infocolor 		: rgb(217,237,247);
$inverscolor 	: rgb(65,65,65);
$successcolor 	: rgb(91,183,91);
$warningcolor 	: rgb(250,167,50);


// 6. LAYOUT 				==============================

$baseline : $baselineheight;
$gutterwidth : 24px;

// Icons
$iconWidth: 23px;
$iconHeight: 23px;

//  7. VENDOR-SPECIFIC 		==============================
//  9. TEMPLATE SPECIFICS 	==============================