<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">

  	<title>Tania&nbsp;Abanina&nbsp;&mdash;&nbsp;Team Lead, Educator &&nbsp;Coach | UX/UI & Front-End Leadership</title>

  	<meta name="description" content="Tania Abanina – Team Lead, Educator & Coach | UX/UI & Front-End Leadership">
  	<meta name="keywords" content="tania abanina, team led, educator, coach, mentor, trainer, engineering manager hands off, frontend developer, UI developer, UX developer, career coach, transformative coach, mentor">
    <meta name="author" content="Tania Abanina">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/css/screen.css">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

  </head>

  <body>
