{% include header.html 	%}

<body class="page index">
	<div class="wrap">

		{% include nav.html 	%}

		<header class="header">
				<h1>Tania Abanina<span class="small">web and UX designer</span></h1>
		</header><!-- /header -->
		
		<section class="content">

			<section class="entry clearfix">
				<div class="text">
					<p>Hi!</p>
					<p>I'm&nbsp;a&nbsp;web&nbsp;&&nbsp;UX designer with front-end development background. Now I live and work in&nbsp;Berlin, Germany.</p>
					<p>I make user-friendly, light and&nbsp;eye-catching design and&nbsp;write clean, cross-browser compatible code with <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> and&nbsp;JavaScript&nbsp;(jQuery). I&nbsp;prefer to&nbsp;design in&nbsp;the browser and skip this step: delivering licked clean mockup in&nbsp;psd. </p>
					<p>I&nbsp;have few things I&nbsp;definitely believe in: love, move and education :-) I&nbsp;would love to&nbsp;participate in&nbsp;projects related with education, culture, art,&nbsp;music and moving our asses around the world. </p>
					<p>Please, don't hesitate to <a href="mailto:hi@taniaabanina.com"  title="write a letter to Tania">drop me&nbsp;a&nbsp;line</a> if&nbsp;you have a&nbsp;question, inquiry or&nbsp;just want to&nbsp;say&nbsp;hi. I'm&nbsp;always glad to&nbsp;hear feedback! ♥</p>
				</div>
				<aside class="aside">
					
					<h1>Resume</h1>
					<p>You can view <a href="resume.html" title="html version of Tania Abanina's resume">html version</a> or&nbsp;download it&nbsp;in&nbsp;<a href="https://dl.dropboxusercontent.com/u/18812624/_cv-cover-letter/abanina-cv.pdf" title="pdf version of Tania Abanina's resume">pdf format</a></p>
					<h1>Contact</h1>
					<p><a href="mailto:hi@taniaabanina.com"  title="write a letter to Tania">hi@taniaabanina.com</a></p>
					<h1>Social</h1>
					<ul class="list__inline">
						<li><a href="http://github.com/tataata" title="tataata's github" class="icon-github">github</a></li>
						<li><a href="https://bitbucket.org/tataata" title="tataata's bitbucket" class="icon-bitbucket">bitbucket</a></li>
						<li><a href="http://www.linkedin.com/in/taniaabanina" title="Tania Abanina on Linkedin" class="icon-linkedin">linkedin</a></li>
						<li><a href="http://taniaabanina.moikrug.ru/" title="Таня Абанина на Моемкруге" class="icon-moikrug">moikrug</a></li>
						<li><a href="http://twitter.com/tataata" title="tataata's twitter" class="icon-twitter">twitter</a></li>
						<li><a href="http://www.flickr.com/photos/tataata/" title="Tania Abanina on Flickr" class="icon-flickr">flickr</a></li>
						<li><a href="http://8tracks.com/tataata/" title="Tania Abanina on 8tracks" class="icon-8tracks">8tracks</a></li>
					</ul>
				</aside>
			</section>

			<section>
				<h1>Selected recent projects</h1>

				<ul class="projects">

					<li class="projects__item">
						<a href="http://schoolofma.org/" class="thumb" title="School of Machines, Making & Make-believe">
							<img src="i/thumb-smmm.jpg" alt="Screenshot of schoolofma.org">
							<h2>School of Machines, Making & Make-believe</h2>
						</a>
						<p class="scope">Web design, Twitter/Bootstrap customization</p>
					</li>

					<li class="projects__item">
						<a href="projects/wimdu.html" class="thumb" title="Test for datapine">
							<img src="i/thumb-wimdu.jpg" alt="Test for Wimdu">
							<h2>Wimdu <br><span class="mute">/&nbsp;test&nbsp;assignment</span></h2>
						</a>
						<p class="scope">Design an Offer details screens for iOS7 native app</p>
					</li>

					<li class="projects__item">
						<a href="projects/datapine.html" class="thumb" title="Test for datapine">
							<img src="i/thumb-datapine.png" alt="Test for Datapine">
							<h2>Landing page for datapine <span class="mute">/&nbsp;test&nbsp;assignment</span></h2>
						</a>
						<p class="scope">Web design</p>
					</li>

					<li class="projects__item">
						<a href="http://fly2russia.com/" class="thumb" title="Fly to Russia">
							<img src="i/thumb-fly2russia.jpg" alt="Screenshot of fly2russia.com">
							<h2>Fly2Russia</h2>
						</a>
						<p class="scope">Web design, <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr></p>
					</li>

					<li class="projects__item">
						<a href="http://vse-svobodny.com/" class="thumb" title="Все свободны">
							<img src="i/thumb-vs.jpg" alt="Screenshot of vse-svobodny.com">
							<h2>Все свободны</h2>
						</a>
						<p class="scope">Prototyping, web design, Wordpress theme development (<abbr title="Hypertext Preprocessor">PHP</abbr>, <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>)</p>
					</li>

					<!--
					<li class="projects__item">
						<a href="http://venturebrothers.ru/" class="thumb" title="Venture Brothers">
							<img src="i/thumb-vb.jpg" alt="Screenshot of venturebrothers.ru">
							<h2>Venture Brothers</h2>
						</a>
						<p class="scope"><abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr></p>
					</li>
					-->

					
					<li class="projects__item">
						<a href="http://daybyday.gaidarfund.ru/" class="thumb" title="daybyday.gaidarfund.ru &mdash; Правительство Гайдара: день за днем">
							<img src="i/thumb-gaidar.jpg" alt="Screenshot of daybyday.gaidarfund.ru">
							<h2>Правительство Гайдара: день за&nbsp;днем</h2>
						</a>
						<p class="scope">Web design</p>
					</li>

					<li class="projects__item">
						<a href="http://omami.ru" class="thumb" title="omami.ru &mdash; О дизайне с любовью или суета сует">
							<img src="i/thumb-omami.png" alt="Screenshot of omami.ru">
							<h2>omami.ru &mdash; О дизайне с&nbsp;любовью</h2>
						</a>
						<p class="scope">Wordpress theme development, <abbr title="Hypertext Preprocessor">PHP</abbr>, <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr></p>
					</li>


					<li class="projects__item">
						<a href="http://samizdal.mishareyzlin.com" class="thumb" title="Самиздал – сайт книжного издательства в Москве">
							<img src="i/thumb-samizdal.png">
							<h2>Самиздал</h2>
						</a>
						<p class="scope"><abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr></p>
					</li>

				</ul><!-- /projects -->
			</section>

			<section>
				<h1>Selected clients</h1>
				<ul class="collaborations">
					<li class="collaborations__item">
						<a href="http://careerfoundry.com" class="collaborations__link careerfoundry">CareerFoundry</a>
					</li>
					<li class="collaborations__item">
						<a href="http://soundcloud.com" class="collaborations__link soundcloud">soundcloud</a>
					</li>
					<li class="collaborations__item"><a href="http://www.neq4.com/" class="collaborations__link neq4">neq4</a></li>
					<li class="collaborations__item"><a href="http://upstre.am/" class="collaborations__link upstream">upstre.am</a></li>
					<li class="collaborations__item"><a href="http://intaxi.ru/" class="collaborations__link intaxi">intaxi.ru</a></li>
					<li class="collaborations__item"><a href="http://kidsters.ru/" class="collaborations__link kidsters">kidsters.ru</a></li>
					<li class="collaborations__item"><a href="http://centrida.com/" class="collaborations__link centrida">centrida.com</a></li>
				</ul>
			</section>

		</section><!-- /content -->
	</div>

{% include footer.html %}
